@media (max-width: 767.98px) {
    #poster {
        height: 231px;
        width: 150px;
    }
}

#favoriteButton{
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}

#favoriteButton:Hover{

}

#favoriteButton.focus, #favoriteButton:focus{
    outline: 0;
    box-shadow: none;
}

.blueButton {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .blueButton {
        transition: none
    }
}

.blueButton:hover {
    color: #212529;
    text-decoration: none
}

.blueButton.focus, .blueButton:focus {
    outline: 0;
    box-shadow: none;
}

.blueButton.disabled, .blueButton:disabled {
    opacity: .65
}

.whiteButton {
    display: inline-block;
    font-weight: 400;
    color: #007bff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .whiteButton {
        transition: none
    }
}

.whiteButton:hover {
    color: #212529;
    text-decoration: none
}

.whiteButton.focus, .whiteButton:focus {
    outline: 0;
    box-shadow: none;
}

.whiteButton.disabled, .whiteButton:disabled {
    opacity: .65
}