<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">Favorites</a>
          </li>
        </ul>
      </div>

      <div class="row justify-content-center">
        <h2>Movie Details:</h2>
      </div>
      <hr>
      <div class="row justify-content-center">
        {% if results %}
        <div class="media">
          <img id="poster" src="{{results['Poster']}}" class="img-fluid align-self-start mr-3" alt="">
          <div class="media-body">
            <h5 class="mt-0" id="movieTitle">{{ results['Title'] }}</h5>
            <div class="btn-group-toggle" data-toggle="buttons" id="favoriteButton">
              <label class="btn btn-primary active">
                <input type="checkbox" checked autocomplete="off"> Checked
              </label>
            </div>
            <p>{{ results['Plot'] }}</p>
            <ul class="list-group">
              {% for field, value in results.items() %}

              {% if field  == 'Title' %}

              {% elif field == 'Plot' %}

              {% elif field == 'Poster' %}

              {% elif field == 'imdbID' %}

              <input type="hidden" id="favoriteMovie" name="imdbID" value={{value}}>
              
              {% elif field == 'Type' %}

              {% elif field == 'Response' %}

              {% elif field == 'Ratings' %}
              {% for row in value %}
              <li class="list-group-item"> Rating on {{ row.Source }}: {{ row.Value }}</li>
              {% endfor %}
              {% else %}
              <li class="list-group-item">{{ field }}: {{ value}}</li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  $("#favoriteButton").click(function () {
    let movieID =$("#favoriteMovie").val();
    $.ajax({
      url: "/favorites",
      data: { 
        "movieID": movieID, 
        "movieTitle": $("#movieTitle").text()
        },
        type: "POST",
        success: function(result){
        let obj = JSON.parse(result);
        console.log(obj);
        if($("#favoriteButton").attr("aria-pressed") === true){
          ("#favoriteButton").attr("aria-pressed",false);
        }else{
          ("#favoriteButton").attr("aria-pressed",true);
        }
      }});
  });
</script>